@mixin font-size ($fs, $type: 'text') {
	font-size: $fs;
	
	@include media-breakpoint-up(md) {
		font-size: $fs * 1.2;
	}
	
	@include media-breakpoint-up(lg) {
		font-size: $fs * 1.38;
	}
}

@mixin sectionSpace($direction, $size, $attribute: padding, $negative: false) {
	@if $negative==true {
		#{$attribute}-#{$direction}: (-$size);
		
		@include media-breakpoint-up(md) {
			#{$attribute}-#{$direction}: (-$size * 1.5);
		}
		
		@include media-breakpoint-up(lg) {
			#{$attribute}-#{$direction}: (-$size * 1.7);
		}
	
		@include media-breakpoint-up(xl) {
			#{$attribute}-#{$direction}: (-$size * 2);
		}
	
		@include media-breakpoint-up(xxl) {
			#{$attribute}-#{$direction}: (-$size * 2.4);
		}
	}
		
	@else {
		#{$attribute}-#{$direction}: $size;
		
		@include media-breakpoint-up(md) {
			#{$attribute}-#{$direction}: $size * 1.5;
		}
		
		@include media-breakpoint-up(lg) {
			#{$attribute}-#{$direction}: $size * 1.7;
		}
	
		@include media-breakpoint-up(xl) {
			#{$attribute}-#{$direction}: $size * 2;
		}
	
		@include media-breakpoint-up(xxl) {
			#{$attribute}-#{$direction}: $size * 2.4;
		}
	}
}