@mixin position($top: auto, $right: auto, $bottom: auto, $left: auto, $position: absolute) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin pseudo($top: auto, $right: auto, $bottom: auto, $left: auto, $position: absolute) {
	content: '';
	@include position($top, $right, $bottom, $left, $position);
}

@mixin pseudo-absolute($top: auto, $right: auto, $bottom: auto, $left: auto, $position: absolute) {
	@include pseudo($top, $right, $bottom, $left, $position);
}

@mixin font-size ($fs, $type: 'text') {
	font-size: $fs * 0.85;
	
	@include media-breakpoint-up(md) {
		font-size: $fs * 1.05;
	}
	
	@include media-breakpoint-up(lg) {
		font-size: $fs * 1.38;
	}
}

@mixin sectionSpace($direction, $size, $attribute: padding, $negative: false) {
	@if $negative==true {
		#{$attribute}-#{$direction}: (-$size);
		
		@include media-breakpoint-up(md) {
			#{$attribute}-#{$direction}: (-$size * 1.5);
		}
		
		@include media-breakpoint-up(lg) {
			#{$attribute}-#{$direction}: (-$size * 1.7);
		}
	
		@include media-breakpoint-up(xl) {
			#{$attribute}-#{$direction}: (-$size * 2);
		}
	}
		
	@else {
		#{$attribute}-#{$direction}: $size;
		
		@include media-breakpoint-up(md) {
			#{$attribute}-#{$direction}: $size * 1.5;
		}
		
		@include media-breakpoint-up(lg) {
			#{$attribute}-#{$direction}: $size * 1.7;
		}
	
		@include media-breakpoint-up(xl) {
			#{$attribute}-#{$direction}: $size * 2;
		}
	}
}

@mixin flex-c {
	display: flex;
	align-items: center;
}

@mixin flex-e {
	display: flex;
	align-items: flex-end;
}

@mixin flex-cc {
	@include flex-c;
	justify-content: center;
}

@mixin flex-cb {
	@include flex-c;
	justify-content: space-between;
}

@mixin flex-ce {
	@include flex-c;
	justify-content: flex-end;
}

@mixin flex-ec {
	@include flex-e;
	justify-content: center;
}

@mixin flex-cs {
	@include flex-c;
	justify-content: flex-start;
}

@mixin flex-ca {
	@include flex-c;
	justify-content: space-around;
}

@mixin flexc {
	display: flex;
	flex-direction: column;
}

@mixin flexc-c {
	display: flex;
	align-items: center;
	flex-direction: column;
}

@mixin flexc-cc {
	@include flex-c;
	flex-direction: column;
	justify-content: center;
}

@mixin flexc-cb {
	flex-direction: column;
	@include flex-c;
	justify-content: space-between;
}

@mixin flexc-ce {
	@include flex-c;
	flex-direction: column;
	justify-content: flex-end;
}

@mixin flexc-cs {
	@include flex-c;
	flex-direction: column;
	justify-content: flex-start;
}

@mixin flexc-ca {
	flex-direction: column;
	@include flex-c;
	justify-content: space-around;
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}

	&:-moz-placeholder {
		@content;
	}
}

@mixin transition($attribute: all, $timing: map-get($transition, 'timing'), $ease: map-get($transition, 'ease')) {
	transition: $attribute $timing $ease;
}