.button, button {
	cursor: pointer;
}

.button {
	border-radius: map-get($general, 'border-radius');
	font-weight: 600;
	padding: .9rem 2rem;
	color: white;
	display: inline-block;
	transition: map-get($transition, 'primary');

	&.button--primary {
		background-color: map-get($colors, 'primary');

		&:hover {
			color: white;
			background-color: lighten(map-get($colors, 'primary'), 5%);
		}
	}

	&.button--secondary {
		background-color: map-get($colors, 'primary');
	}
}

button {
	outline: 0;
	padding: 0;
	border: none;
	background: none;
}