.article {
	display: block;
	position: relative;
	margin-bottom: 3rem;

	.label {
		position: absolute;
		top: 1rem;
		left: 1rem;
		white-space: nowrap;
		z-index: 1;
	}

	img {
		display: block;
		width: 100%;
		height: 20rem;
		object-fit: cover;
		border-radius: map-get($general, 'border-radius');

		@include media-breakpoint-up(md) {
			height: 25rem;
		}

		@include media-breakpoint-up(lg) {
			height: 35rem;
		}
	}

	h3 {
		font-size: 1.8rem;
		color: map-get($colors, 'dark');
		padding: 1.5rem 0 0 0;

		@include media-breakpoint-up(md) {
			font-size: 2rem;
		}
	}
}

.article__wrapper {
	margin-bottom: -3rem;
}