.block {
	position: relative;
	display: flex;
	flex-flow: column;
	text-align: center;
	min-height: 100%;
	color: black;
	border-radius: .4rem;

	&--white {
		background-color: white;
	}

	&--button {
		background-color: map-get($colors, 'primary');
		
		@include media-breakpoint-up(sm) {
			background-color: map-get($colors, 'light');
		}

		&__inner {
			padding: 1.7rem 2rem;
			
			@include media-breakpoint-up(lg) {
				padding: 3rem;
			}
		}

		.button {
			width: 100%;
			border-radius: 0;
			padding: 1rem 2rem;

			@include media-breakpoint-down(xs) {
				display: none;
			}

			@include media-breakpoint-up(lg) {
				font-size: 1.6rem;
			}
		}

		h3 {
			margin-bottom: 0;

			@include media-breakpoint-down(xs) {
				color: white;
			}
		}

		img {
			width: 57%;
			max-height: 11rem;
			margin-top: 2rem;

			@include media-breakpoint-down(xs) {
				display: none;
			}
		}
	}

	&.block--team {
		text-align: left;

		.block--team__image {
			width: 100%;
			padding-bottom: 80%;
			overflow: hidden;
			position: relative;
			border-radius: map-get($general, 'border-radius');

			@include media-breakpoint-up(md) {
				height: 32rem;
			}

			@include media-breakpoint-up(lg) {
				height: 42rem;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.block__content {
			padding: 2rem 1rem 0;

			@include media-breakpoint-up(md) {
				padding: 3rem 3rem 0;
			}
		}

		h3 {
			margin-bottom: 1.7rem;
		}
	}

	&.block--product {
		padding: 1.5rem;

		@include media-breakpoint-up(lg) {
			padding: 2.7rem;
		}

		&:not(.block--white) {
			border: 1px solid map-get($colors, 'tertiary');
		}

		picture {
			@include flex-cc;
			height: 11.5rem;
			width: 90%;
			margin: 0 auto 2rem;

			@include media-breakpoint-up(md) {
				height: 14.5rem;
			}
			
			img {
				max-height: 100%;
				max-width: 100%;
			}
		}

		h3 {
			font-size: 1.5rem;
			margin: 0 0 1.2rem;
			font-weight: 700;
		}
	}

	&--featured {
		align-items: center;
		text-align: center;
		padding: 4.5rem 1.5rem 3.5rem;
		border-radius: map-get($general, 'border-radius');
		
		@include media-breakpoint-down(sm) {
			margin-top: 1rem;
		}
		
		@include media-breakpoint-up(lg) {
			padding: 6rem 3rem 3.5rem;
		}

		img {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate3d(-50%, -3rem, 0);
			width: 8rem;
			max-height: 5.4rem;

			@include media-breakpoint-up(lg) {
				width: 10rem;
				max-height: 6.4rem;
			}
		}

		iframe {
			@include media-breakpoint-down(lg) {
				width: 100% !important;
			}
		}

		.button {
			margin-top: 1rem !important;
		}

		.form {
			margin-top: .5rem;
		}
	}

	&--dark,
	&--primary {
		color: white;
	}

	&--primary {
		background-color: map-get($colors, 'primary');
	}
	
	&--dark {
		background-color: map-get($colors, 'dark');

		input, button {
			color: white;
		}

		input {
			border-color: white !important;

			@include placeholder {
				color: white;
			}
		}

		img {
			transform: translate3d(-50%, -1.4rem, 0);
		}
	}
	
	&--light {
		background-color: map-get($colors, 'light');
	}

	&__html {
		margin-top: 1rem;
	}

	.label {
		position: absolute;
		top: 1rem;
		right: 1rem;
		font-size: 1.1rem;
	}

	.price {
		justify-content: center;

		.price--old {
			font-size: 80%;
		}
	}

	.button {
		margin-top: auto;
	}

	img {
		object-fit: contain;
	}

	h3 {
		font-size: 1.6rem;

		@include media-breakpoint-up(sm) {
			font-size: 1.6rem;
		}

		@include media-breakpoint-up(lg) {
			font-size: 2.2rem;
		}
	}
}

a.block {
	@include transition(border-color);
	
	&:hover {
		border-color: darken(map-get($colors, 'tertiary'), 30%) !important;
	}
}

.blocks {
	margin-bottom: -1.5rem;
	
	@include media-breakpoint-up(sm) {
		margin-bottom: -3rem;
	}

	&.blocks--large {
		margin-bottom: -5rem;
		
		div[class^='col'] {
			margin-bottom: 5rem;
		}
	}

	div[class^='col'] {
		margin-bottom: 1.5rem;

		@include media-breakpoint-up(sm) {
			margin-bottom: 3rem;
		}
	}
	
	&-border {
		margin-bottom: -1.5rem !important;

		@include media-breakpoint-up(sm) {
			margin-bottom: -3rem !important;
		}

		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
		
		div[class^='col'] {
			margin-bottom: 1.5rem;
			
			@include media-breakpoint-up(sm) {
				margin-bottom: 3rem;
			}

			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
			}
		}
	}
}