.button,
button {
	cursor: pointer;
}

.button {
	border-radius: map-get($general, 'border-radius');
	font-weight: 600;
	padding: 1rem 2rem;
	color: white;
	display: inline-block;
	transition: map-get($transition, 'primary');

	&.button--primary,
	&.button--dark,
	&.button--light {
		i {
			font-size: 1.1rem;
			margin-left: 0.4rem;
		}
	}

	&.button--primary {
		background-color: map-get($colors, 'primary');

		&:hover {
			background-color: lighten(map-get($colors, 'primary'), 5%);
		}
	}

	&.button--dark {
		background-color: map-get($colors, 'dark');

		&:hover {
			background-color: lighten(map-get($colors, 'dark'), 5%);
		}
	}

	&.button--light {
		color: map-get($colors, 'dark');
		background-color: white;

		&:hover {
			background-color: darken(white, 5%);
		}
	}

	&.button--secondary {
		background-color: map-get($colors, 'primary');
	}

	&.button--border {
		border: 1px solid map-get($colors, 'dark');
		color: map-get($colors, 'dark');
		
		&:hover {
			border: 1px solid map-get($colors, 'primary');
		}
	}

	&-filter {
		display: flex;
		align-items: center;

		&__icon {
			margin-right: 1rem;

			span {
				position: relative;
				display: block;
				height: 1px;
				width: 20px;
				background-color: white;

				&:not(:last-child) {
					margin-bottom: 5px;
				}

				&:nth-child(2) {
					&::before {
						transform: translate3d(10px, -50%, 0);
					}
				}

				&::before {
					@include pseudo(50%, 0, 0, 0);
					transform: translate3d(3px, -38%, 0);
					width: 6px;
					height: 6px;
					border: 1px solid white;
					border-radius: 50%;
					background-color: map-get($colors, 'dark');
					@include transition(all);
				}
			}
		}

		span {
			color: white;
		}
	}
}

button {
	outline: 0;
	padding: 0;
	border: none;
	background: none;
}