form {

	input,
	textarea,
	select {
		outline: 0;
		padding: .7rem 1.6rem;
		border-radius: map-get($general, 'border-radius');
		border: 1px solid map-get($colors, 'dark');
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		@include media-breakpoint-up(lg) {
			padding: 1rem 1.6rem;	
		}
	}

	textarea {
		height: 15rem;
	}

	select {
		cursor: pointer;
	}
}

input[type="checkbox"] {
	margin: 0;
	position: absolute;
	opacity: 0;

	&:checked + label::before {
		background-color: map-get($colors, 'dark');
	}

	& + label {
		position: relative;
		padding-left: 2rem;
		cursor: pointer;

		&::before {
			@include pseudo-absolute(.4rem, auto, auto, 0);
			width: 1.3rem;
			height: 1.3rem;
			border-radius: 1px;
			border: 1px solid map-get($colors, 'dark');
		}
	}
}

@include placeholder {
	color: map-get($colors, 'dark');
}

.form {
	&--newsletter {
		width: 100%;
		position: relative;

		input {
			width: 100%;
			border: 1px solid white;
			background-color: transparent;
		}

		button {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate3d(-2rem, -50%, 0);
			font-size: 1.2rem;
		}
	}

	&--search {
		width: 85%;
		width: calc(100% - 4rem);
		position: relative;

		@include media-breakpoint-up(md) {
			width: 29rem;
		}

		@include media-breakpoint-up(lg) {
			width: 37rem;
		}

		input {
			padding-right: 4.5rem;
			width: 100%;
		}

		button {
			position: absolute;
			right: 2rem;
			top: 50%;
			font-size: 1.5rem;
			transform: translate3d(0, -40%, 0);
		}
	}

	&__row {
		display: flex;
		margin-right: -1rem;
		margin-left: -1rem;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}

		.form__field {
			flex: 1;
			padding: 0 1rem;

			&__select {
				position: relative;

				select {
					opacity: 0;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
				}

				input {
					pointer-events: none;
					cursor: pointer;
				}
			}

			input, textarea, select {
				width: 100%;
			}
		}
	}

	a {
		color: map-get($colors, 'links-dark');
		margin-left: 2rem;
	}
}