table {
	width: 100%;
	border-spacing: 0;

	&:not(.no-style) {
		tr {
			&:nth-child(odd) {
				background-color: map-get($colors, 'light');
			}
		}

		td {
			padding: 0.9rem 1.6rem;
		}
	}

	&.no-style {
		td {
			padding: .3rem 0;
		}
	}
}