section {
    &.padding-top {
        &--none {
            padding-top: 0;
        }
        &--medium {
            padding-top: 5rem;
        }
        &--large {
            padding-top: 10rem;
        }
    }
    &.padding-bottom {
        &--none {
            padding-bottom: 0;
        }
        &--medium {
            padding-bottom: 5rem;
        }
        &--large {
            padding-bottom: 10rem;
        }
    }
}