.block-text {
	@include flex-cb;
	padding: 5rem 6rem;
	border-radius: map-get($general, 'border-radius');
	background-color: map-get($colors, 'light');

	&.block-text--account {
		padding: 2.5rem 5rem;
		align-items: flex-start;

		.block-text__content {
			padding-top: 3rem;
		}

		img {
			max-height: 19rem;
		}
	}

	&.block-text--large {
		.block-text__content {
			width: 68%;
			padding-right: 11rem;
		}

		img {
			margin-left: 8rem;
		}
		
		p {
			font-size: 2rem;
			line-height: 2;
		}

		img {
			width: 10rem;
			max-height: 21rem;
			object-position: center;
		}
	}
	
	&__content {
		width: 65%;
	}
	
	img {
		width: 19rem;
		max-height: 10rem;
		margin-right: 7rem;
		object-fit: contain;
		object-position: right;
	}
}