.featured-cat {
	background-color: map-get($colors, 'light');

	&__text,
	&__blocks {
		padding-top: 4rem;
		padding-bottom: 4rem;

		@include media-breakpoint-up(md) {
			padding-top: 7rem;
			padding-bottom: 7rem;
		}
	}

	&__text {
		position: relative;
		z-index: 1;

		@include media-breakpoint-up(xl) {
			padding-right: 15rem;
		}

		&::before {
			@include pseudo(0, 0, 0, auto);
			width: 60vw;
			z-index: -1;
			background-color: map-get($colors, 'dark');
		}

		h2, li, a, p {
			color: white;
		}
	}
}