.product {
	&__slider {
		width: 100%;

		.slider-thumbs .swiper-slide,
		.slider-top {
			border: 1px solid map-get($colors, 'tertiary');
			border-radius: map-get($general, 'border-radius');
		}

		.slider-top {
			display: flex;
			height: 26rem;
			margin-bottom: 2rem;
			overflow: hidden;
			position: relative;

			@include media-breakpoint-up(md) {
				height: 45rem;
			}
		}
		
		.slider-thumbs {
			.swiper-slide {
				width: 10rem;
				height: 10rem;
				margin-right: 2rem;
				cursor: pointer;

				&.swiper-slide-thumb-active {
					border-color: darken(map-get($colors, 'tertiary'), 25%);
				}

				img {
					width: 80%;
					object-fit: contain;
				}
			}
		}

		.swiper-slide {
			@include flex-cc;
			height: auto;
			overflow: hidden;

			img {
				width: 65%;
				max-height: 100%;
				object-fit: contain;

				&.fullscreen {
					object-fit: cover;
					width: 100%;
					min-height: 100%;
				}
			}
		}
	}
}