@font-face {
	font-family: 'icons';
	src: url('./icons.eot?12x1s2');
	src: url('./icons.eot?12x1s2#iefix') format('embedded-opentype'),
		url('./icons.ttf?12x1s2') format('truetype'),
		url('./icons.woff?12x1s2') format('woff'),
		url('./icons.svg?12x1s2#icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}