.footer {
	padding: 10rem 0 0;
	background-color: map-get($colors, 'light');

	&__copyright {
		margin-top: 8rem;
		background-color: darken(map-get($colors, 'light'), 3%);

		.container {
			display: flex;
			justify-content: space-between;
			padding: 1rem 0;

			p {
				font-size: 1.3rem;
				margin-bottom: 0;
			}
		}
	}
}