$grid-columns: 12;
$grid-gutter-width: 30px;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1190px
);

// Fonts
$fonts: (
	primary: ('Open Sans', sans-serif),
);

// Colors
$colors: (
	primary: 	#90C72A,
	secondary: 	#FF4947,
	tertiary:	#6D93ED,
	dark: 		#212121,
	light: 		#F5F5F5,
);

// Transitions
$transition: (
	ease: ease-in-out,
	timing: .3s,
	primary: all .3s ease-in-out,
);

// General
$general: (
	border-radius: 4px,
);