.flex {
	display: flex;

	&-w {
		flex-flow: wrap;
	}

	&-b {
		justify-content: space-between;
	}

	&-e {
		justify-content: flex-end;
	}

	&-cb {
		align-items: center;
		justify-content: space-between;
	}

	&-cc {
		align-items: center;
		justify-content: center;
	}

	&--ce {
		flex-flow: column;
		align-items: flex-end;
	}
}

.center {
	text-align: center;
}

.dark {
	color: white;
	
	button,
	input {
		color: white;
	}
	
	input {
		@include placeholder {
			color: white;
		}
	}
}

.bg {
	&--grey {
		background-color: map-get($colors, 'light');
	}
}

.col {
	&-pr {
		&--large {
			@include media-breakpoint-up(lg) {
				padding-right: 5rem;
			}
		}
	}
}

.hide {
	display: none;
}

.lg {
	&-up {
		display: none !important;

		@include media-breakpoint-up(lg) {
			display: block !important;
		}
	}
}

.md {
	&-down {
		@include media-breakpoint-up(lg) {
			display: none !important;
		}
	}
	
	&-up {
		display: none !important;
	
		@include media-breakpoint-up(md) {
			display: block !important;
		}
	}
}

.sm {
	&-down {
		@include media-breakpoint-up(md) {
			display: none !important;
		}

		&-mt {
			@include media-breakpoint-down(sm) {
				margin-top: 3rem;
			}
		}
	}
}