.flex {
	display: flex;

	&-w {
		flex-flow: wrap;
	}

	&-b {
		justify-content: space-between;
	}

	&-cb {
		align-items: center;
		justify-content: space-between;
	}
}

.center {
	text-align: center;
}

.dark {
	color: white;
	
	button,
	input {
		color: white;
	}
	
	input {
		@include placeholder {
			color: white;
		}
	}
}

.bg {
	&--grey {
		background-color: map-get($colors, 'light');
	}
}

.col {
	&-pr {
		&--large {
			padding-right: 5rem;
		}
	}
}

.hide {
	display: none;
}

.lg {
	&-up {
		display: none;

		@include media-breakpoint-up(lg) {
			display: block;
		}
	}
}

.md {
	&-down {
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
	
	&-up {
		display: none;
	
		@include media-breakpoint-up(md) {
			display: block;
		}
	}
}

.sm {
	&-down {
		@include media-breakpoint-up(md) {
			display: none;
		}
	}
}